<div>
    <h3>Pokemons ALLs</h3>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let element">
      <button mat-flat-button color="accent" routerLink="/pokemons-details/{{element.name}}" selected>
        details
      </button>
    </td>
  </ng-container>
  <tr mat-hearder-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row of row.results; columns: displayedColumns;"></tr>
</table>