<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <button mat-flat-button color="accent" [routerLink]="['/pokemons']"><mat-icon>list</mat-icon> Voltar</button>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
    <mat-card-title><h2>{{ pokemons.name }}</h2></mat-card-title>
    <mat-card-subtitle>{{ pokemons.url }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <dl>
        <dt>pokemons:</dt>
        <dd>{{ pokemons.name }}</dd>
        <dt>Atualizado em:</dt>
        <dd>{{ pokemons.url | date }}</dd>
    </dl>
    </mat-card-content>
  </mat-card>
</div>